
                <div>
                    <div style="margin: 36px 30px 32px 30px; border: 1.4px dashed rgba(0, 0, 0, 0.2);"></div>
                    <h4 style="margin-bottom: 4px;">Thanks for joining us – your voice matters!</h4>
                    <p style="margin: 0px;">The Trusty Feedback Team</p>
                    <div class="review-footer"
                        style="margin: 20px 30px 20px 30px; padding: 6px 0px 4px 0px; background-color: rgba(151, 224, 194, 1); border-radius: 25px; border: 1px solid rgba(0, 0, 0, 0.1); ">
                        <p style="font-weight: 400; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 15px;">
                            Let’s create a trusted world together.
                        </p>
                        <h5 style="font-weight: 700; font-size: 18px; margin-bottom: 10px; margin-top: 0px;">
                            Connect with Us:
                        </h5>
                        <div class="social-links " style="padding-bottom: 8px;">
                            <div class="social-image" style="border-radius: 50%; display: inline-block;">
                                <a href="<%= FACEBOOK_URL %>">
                                    <img src="<%= LIVE_URL %>/public/images/facebook-icon.png"
                                        width="36px" height="36px" style="object-fit: cover;" />
                                </a>
                            </div>
                            <div class="social-image" style="border-radius: 50%; display: inline-block;">
                                <a href="<%= INSTAGRAM_URL %>">
                                    <img src="<%= LIVE_URL %>/public/images/instagram-icon.png"
                                        width="36px" height="36px" style="object-fit: cover;" />
                                </a>
                            </div>
                            <div class="social-image" style="border-radius: 50%; display: inline-block;">
                                <a href="<%= TWITTER_URL %>">
                                    <img src="<%= LIVE_URL %>/public/images/twitter-icon.png"
                                        width="36px" height="36px" style="object-fit: cover;" />
                                </a>
                            </div>
                            <div class="social-image" style="border-radius: 50%; display: inline-block;">
                                <a href="<%= LINKEIN_URL %>">
                                    <img src="<%= LIVE_URL %>/public/images/linkedIn-icon.png"
                                        width="36px" height="36px" style="object-fit: cover;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>