<% data.title = data.title ? data.title : 'Verify Your <span style="font-weight: 600;">Trusty Feedback Account</span> 🌟'; %>
<% data.banner = data.banner ? data.banner : '/public/images/verification-hero.png'; %>
<%- include('partials/header', data) %>
<div>
    <h3
        style="font-size: 24px; font-weight: 600; display: inline-block; margin: 0; vertical-align: middle;">
        Hi <%= data.name %></h3>
    <img src="<%= data.LIVE_URL %>/public/images/waving-had-icon.png"
        style="display: inline-block; max-width: 29px; vertical-align: middle; margin-left: 5px;" />

    <p style="font-size: 16px; font-weight: 400; max-width: 540px; margin: 10px auto;">
        Welcome to
        <span style="font-weight: 600;">Trusty Feedback!</span> To complete your registration, 
        please verify your email address by entering the One-Time Password (OTP) below:
    </p>
    <div
        style="margin: 20px 28px 20px 30px; background-color: rgba(231, 244, 239, 1); border-radius: 25px; text-align: left; padding: 20px 20px 15px 20px; font-size: 16px; border: 1px solid rgba(23, 37, 63, 0.1);">
        <div class="otp-section" style="text-align: center;">
            <h3 style="padding: 0px 0px 2px 0px; margin: 0; font-size: 18px; font-weight: 600;">Your OTP Code</h3>

            <p style="padding: 0; margin: 0; font-weight: 700; font-size: 35px;"><%= data.otp %></p>
        </div>
    </div>
    <div class="verify-method" style="text-align: left; padding-left: 10px; margin-bottom: 28px;">
        <h3 style="margin-bottom: 15px; padding-left: 25px; color: #17253F;">How to Use Your OTP:</h3>
        <ol style="margin: 0;">
            <li style="font-size: 16px; padding-bottom: 7px;">Enter the code on the verification screen.
            </li>
            <li style="font-size: 16px;">Complete your account setup and start exploring Trusty
                Feedback!</li>
        </ol>

    </div>
    <div class="dashed-border-section"
        style="margin: 20px 28px 55px 30px; background-color: rgba(231, 244, 239, 1); border-radius: 20px; text-align: left; padding: 15px 20px 15px 20px; font-size: 16px; border: 1px dashed rgba(0, 0, 0,0.2);">
        <div class="otp-section" style="text-align: center;">
            <h3 style="padding: 0; margin: 0; font-size: 16px; font-weight: 500; color: rgba(0, 0, 0,0.6);">Activate Your Business
                Account Today!</h3>
        </div>
    </div>
</div>
<%- include('partials/footer', data) %>